$body-bg: #f2f2f2;
$primary: #3BA5DC;
$secondary: #f0f0f0;
$danger: #EB5757;
$success: #27AE60;
$warning: #FF7F50;
$info: #A5A58D;
$infotwo: #ececcf;

$dark: #313130;
$lite: #fffcec;
$darkgreen: #3f4238;